@{
}
<div class="container">
    <div class="row">
       <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">部门管理</h3>
            </div>
            
            <div class="col-md-12" style="text-align:right;margin-top:2px;">
                <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#myModal">添加</button>
            </div>
            
             <br/>
             <div class="panel-body">
                <table class="table table-bordered table-hover">
                <thead>
                    <th>编号</th>
                    <th>部门</th>
                    <th>上级部门</th>
                    <th>操作</th>
                </thead>
            
                <tbody id="departtr">
                  <tr v-for="item in departs">
                      <td>{{item.id}}</td>
                      <td>{{item.departmentname}}</td>
                      <td>{{item.pdepartmentname}}</td>
                      <td class=" text-right">
                          <button v-on:click="editClick" class="btn btn-xs btn-info">编辑</button>
                          <button v-on:click="removeClick" class="btn btn-xs btn-danger">删除</button>
                      </td>
                  </tr>
                </tbody>

                </table>
            </div>
        </div>
    </div>
    
    
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">部门管理</h4>
              </div>
              
              <div class="modal-body">
                    <div class="input-group"style="margin-top:10px;">
                        <div class="input-group-addon">部门名称:</div>
                        <input type="text" class="form-control"  name="departname" placeholder="部门名称">
                    </div>
                    <div class="input-group"style="margin-top:10px;">
                        <div class="input-group-addon">上级部门:</div>
                        <select class="form-control">
                            <option></option>
                        </select>
                    </div>
              </div>
              
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary">添加保存</button>
              </div>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script>

        var vm=new Vue({
            el:'#departtr',
            data:{departs:[]},
            methods:{
                getalldepartment(){
                    this.$http.get("/getallpdepartment").then(function(backData){
                       this.departs=backData.body.data;
                    })
                }
            },
            created(){
                this.getalldepartment();
            }
        })
        // $(function(){
        //     LoadPDepart();
        // });
        // function LoadPDepart(){
        //     $.ajax({
        //         method:"GET",
        //         url:"/getallpdepartment",
        //         data:{},
        //         success:function(backData){
        //             if(backData.result==1){
        //                console.log(backData);
        //             }else{
        //                 alert(backData.message)
        //             }
                    
        //         },
        //         error:function(error){
        //             alert(error.statusText)
        //         }
        //     })
        // }

    </script>
}
